{
	"useTabs": true,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": [
		"./node_modules/prettier-plugin-jsdoc/dist/index.js"
	],
	"pluginSearchDirs": [
		"."
	],
	"proseWrap": "always",
	"overrides": [
		{
			"files": [
				"*.md"
			],
			"options": {
				"useTabs": false
			}
		}
	],
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"svelteIndentScriptAndStyle": true,
	"svelteAllowShorthand": true,
	"jsdocDescriptionWithDot": true,
	"jsdocPreferCodeFences": true,
	"jsdocCommentLineStrategy": "multiline",
	"tsdoc": true,
	"quoteProps": "consistent",
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "ignore"
}